.errorCont {
  background-image: linear-gradient(#5c2e2e, #4b1f20);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.errorHeading {
  color: white;
  font-family: 'Bitcount';
}

.goHomePara {
  font-family: 'Bitcount Grid Single';
}

.goHomeLink:link, .goHomeLink:visited, .goHomeLink:hover, .goHomeLink:active {
  color: white;
  text-underline-offset: .2rem;
}