html {
  overflow-x: hidden;

}


.overflowHiddenCont {
  background-image: linear-gradient(#5c2e2e, #4b1f20);
  height: 100vh;
}
.gameMainCont {
  width: 100%;
}

.gameImage {

  width: 100%;
  height: 100%;
}

.clickMenuCont {
  position: absolute;
  scrollbar-color: gray #1b1b1b;
}

.circleClicked {
  position: absolute;
  border-radius: 50%;
  display: flex;
  animation: 4s spin infinite linear;
  width: min-content;
  pointer-events: none;
}

.pointClicked {
  position: relative;
  border-radius: 50%;
}

.menuSelectHeading {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Bitcount';
  border-bottom: 1px dashed #c89f56;
  margin-bottom: 1rem;
}


.clickMenuLi button {
  border-top: 1px solid rgba(245, 245, 245, 0.692);
  border-left: 1px solid rgba(245, 245, 245, 0.692);
  border-right: 1px solid rgba(245, 245, 245, 0.692);
  border-bottom: 3px solid rgba(245, 245, 245, 0.692);
  border-radius: 15px;
  width: 100%;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: 'Bitcount Grid Single';
  transition: .2s border ease-out;
  padding: .2rem;
}

.clickMenuLi:hover button {
  border-bottom: 3px solid #c89f56;
  border-top: 1px solid #c89f56;
  border-left: 1px solid #c89f56;
  border-right: 1px solid #c89f56;

}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);

  }
}