table {
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #4ca1b3;
  background-color: #31717b;
  width: 100%;
}



.leaderboardCaption {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: 3px dashed #c89f56 underline;
  text-underline-offset: .5rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.leaderboardCaption {
  margin-bottom: 1rem;
}

thead th {
  border-bottom: 1px solid #70a2d9;
}

tbody th {
  border-right: 1px solid #70a2d9;
  border-bottom: 1px solid #70a2d9;
}

thead th:last-child {
  border-radius:  0 15px 0 0;
}

thead th:first-child {
  border-radius:  15px 0 0 0;

}

tbody tr:last-child th:first-child {
  border-radius: 0 0 0 15px;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 15px;
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
}


th {
  padding: 1rem;
}

td {
  padding: 1rem;
  font-family: 'Bitcount Grid Single';
  border-bottom: 1px solid #70a2d9;
  border-right: 1px solid #70a2d9;
}

tbody tr td:last-child {
  border-right: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr:last-child th {
  border-bottom: none;
}

@media (max-width: 700px) {
  .leaderboardCont {
  overflow-x: scroll;
  max-width: 600px;
  scrollbar-color: gray #1b1b1b;

}


}